<title>Eddit</title>
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <h3 class="title-3 m-b-30">
                <i class="fas fa-edit"></i> Edit & Delete
            </h3>
            <div class="row" style="margin-left:5px;">
                <div class="col-md-12">
                    <!-- DATA TABLE -->
                    
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <div class="rs-select2--light rs-select2--md">
                                <select class="js-select2" name="property">
                                    <option selected="selected">All Properties</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <div class="rs-select2--light rs-select2--sm">
                                <select class="js-select2" name="time">
                                    <option selected="selected">Today</option>
                                    <option value="">3 Days</option>
                                    <option value="">1 Week</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <button class="au-btn-filter">
                                <i class="zmdi zmdi-filter-list"></i>filters
                            </button>
                        </div>
                        <div class="table-data__tool-right">
                            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>add new
                            </button>
                            <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                <select class="js-select2" name="type">
                                    <option selected="selected">Export</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-data2">
                            <thead>
                               


                                <tr>
                                    <th>S.No.</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Citizenship No.</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Post</th>
                                    <th>Username</th>
                                    <th>Password</th>
                                    <th>Confirm Password</th>
                                    <th class="text-center">Action</th>

                                </tr>
                                    
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var data in ViewBag.data.Rows)
                                {
                                    
                                        <tr class="tr-shadow">

                                            <td>@i</td>
                                            <td>@data["ename"]</td>
                                            <td>@data["eaddress"]</td>
                                            <td>@data["ectizenship"]</td>
                                            <td>@data["eemail"]</td>
                                            <td>@data["ephone"]</td>
                                            <td>@data["epost"]</td>
                                            <td>@data["eusername"]</td>
                                            <td>@data["epassword"]</td>
                                            <td>@data["cepassword"]</td>
                                            <td>
                                                <div class="table-data-feature">

                                                    <a href="#" class="item" data-toggle="tooltip" data-placement="top" title="Edit">  <i class="zmdi zmdi-edit"></i></a>
                                                    <a href="/Employee/Delete?S_No=@data["S_No"]" class="item" data-toggle="tooltip" data-placement="top" title="Delete">  <i class="zmdi zmdi-delete"></i></a>


                                                </div>
                                            </td>
                                        </tr>
                                            i++;
                                    }
                                    </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE -->
                </div>
            </div>
            </div>
        </div>
    </div>
